
.header{
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;

    
}
.header-left{
    margin-left: 0.5vw;
}
.youtube-logo{
    margin-left: 20px;
    height: 30px;
    object-fit: contain;

}

.header-center{
    display: flex;
    align-items: center;
    border: 2px solid rgb(119, 118, 118) ;
    border-radius: 2px;
    width: 20%;
    
}
.clear-icon{
    color: rgb(76, 75, 75);
}
.search-icon{
    color: rgb(76, 75, 75);
    border-left:  2px solid rgb(119, 118, 118) ;
    /* border-bottom:  2px solid rgb(119, 118, 118) ; */
    background-color: rgb(235, 230, 230);
}
/* below mention element inside a class */
.header-center>input{
    border: none;
    width: 100%;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    margin-right: 1vw;
}

