.app_page{
  margin-top: 50px;
  display: flex;
}
/* .sidebar_panel{
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
} */
/* .recommedvid{
margin-left: 20%;
} */